.App {
  padding: 2rem;
}

.FormControl {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-shadow: none;
}

.Card {
  margin-bottom: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.CardTitle {
  font-size: 1.25rem;
  font-weight: 500;
}

.CardText {
  margin-bottom: 1rem;
}

.CardImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.badge {
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 0.5rem;
}
